benhvien.dtd

<!ELEMENT hospital (app:appointment+)>
<!ELEMENT app:appointment (pat:patient, doc:doctor)>
<!ATTLIST app:appointment id CDATA #REQUIRED>
<!ATTLIST app:appointment date CDATA #REQUIRED>
<!ATTLIST app:appointment status CDATA #REQUIRED>
<!ELEMENT pat:patient (pat:name, pat:dob)>
<!ATTLIST pat:patient id CDATA #REQUIRED>
<!ELEMENT pat:name (#PCDATA)>
<!ELEMENT pat:dob (#PCDATA)>
<!ELEMENT doc:doctor (doc:name, doc:specialty)>
<!ATTLIST doc:doctor id CDATA #REQUIRED>
<!ELEMENT doc:name (#PCDATA)>
<!ELEMENT doc:specialty (#PCDATA)>
